@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E3FBE3;
    color: #0A470A;
    font-family: Caveat, sans-serif;
    min-height: 100vh;
    font-size: 14px;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #000000;
}

button {
    border: none;
    cursor: pointer;
}

.container {
    margin: 0;
    padding: 0;
}

.header {
    background: #213A21;
    color: #ffffff;
}

.site-name {
    font-family: Dynalight, sans-serif;
    margin-left: 10px;
}

.header_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer {
    background: #213A21;
    margin-top: auto;
}

.footer-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.technical-support {
    color: white;
    font-size: 18px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.main__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 450px;
    height: 250px;
}

.board-create__btn {
    background: #213A21;
    font-family: Caveat, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
    color: white;
}

.plus-icon {
    margin-left: 15px;
    margin-right: 15px;
    height: 50px;
    width: 50px;
}

.board-create-form {
    background: #F1FFD0;
    border: 2px solid #213A21;
    height: 180px;
}

.board-create-form__item {
    padding: 15px;
}

.board-create-form__item label {
    display: block;
    padding: 10px 0;
}

.board-create-form__input {
    border-radius: 5px;
    background: #E3FBE3;
    border: 2px solid #213A21;
    width: 300px;
    height: 20px;
    padding: 10px;
}

.board-create-form__input:focus {
    outline: none;
}

.input-label {
    font-size: 18px;
}

.create-btn {
    background: #C7F7C7;
    font-family: Caveat, sans-serif;
    font-size: 18px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}

.cancel-btn {
    background: #F7C5C5;
    font-family: Caveat, sans-serif;
    font-size: 18px;
    margin-left: 50px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}
