@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background: #E3FBE3;
    font-size: 14px;
    line-height: 120%;
    color: #0A470A;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
}

.login {
    background: #E3FBE3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    max-height: 500px;
}

.login__title {
    font-family: Caveat, sans-serif;
    font-style: normal;
    font-size: 36px;
}

.login__top {
    display: flex;
    margin: 20px;
}

.login-to-register {
    color: black;
}

.login-btn {
    background: transparent;
    border: 2px #048E04 solid;
    color: #0A470A;
    border-radius: 10px;
    width: 150px;
    height: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form__item {
    margin: 10px;
}

.login__input {
    border-radius: 5px;
    background: transparent;
    border: 2px solid #048E04;
    width: 100%;
    height: 30px;
    padding: 10px;
}

.login__input:focus {
    outline: none;
}

.input-label {
    display: flex;
}

.login-to-register {
    text-decoration: none;
    color: #0A470A;
}


