.placeholder {
  background: #F1FFD0;
  border: 2px solid #213A21;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 36px;
  height: 50px;
  width: 300px;
  padding: 0 10px;
}

.listOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option {
  cursor: pointer;
}