.boardCreate__btn {
  background: #213A21;
  font-family: Caveat, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  height: 100px;
  color: white;
}

.plusIcon {
  margin-left: 15px;
  margin-right: 15px;
  height: 50px;
  width: 50px;
}