@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');


.container {
  margin: 0;
  padding: 0;
}

.listCreate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 85px;
}

.boardName {
  margin-bottom: 15px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 200px;
}

.mainInner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lists {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.listsItem:first-of-type {
  background: #F1FFD0;
}

.placeholder {
  background: #F1FFD0;
  border: 2px solid #213A21;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  height: 50px;
  width: 300px;
}

.expandIcon {
  transform: translateX(420%);
}

.newList {
  background: #F1FFD0;
  border: 2px solid #213A21;
}

.newListItem {
  padding: 15px;
}