@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.main {
  background: #E3FBE3;
  color: #0A470A;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 120%;
}

.container {
  margin: 0;
  padding: 0;
}

.register {
  display: block;
  background: #E3FBE3;
  border-radius: 10px;
  max-width: 450px;
  max-height: 550px;
}

.registerTop {
  height: 30px;
  margin: 20px
}

.registerTitle {
  font-family: caveat, sans-serif;
  font-size: 36px;
}

.registerFormItem {
  margin: 20px;
}

.registerFormItem:last-of-type {
  display: flex;
  justify-content: center;
}

#enter {
  display: flex;
  justify-content: center;
}