@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.main {
  font-family: Inter, sans-serif;
  background: #E3FBE3;
  font-size: 14px;
  line-height: 120%;
  color: #0A470A;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

.login {
  background: #E3FBE3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  max-height: 500px;
}

.loginTitle {
  font-family: Caveat, sans-serif;
  font-style: normal;
  font-size: 36px;
}

.loginTop {
  display: flex;
  margin: 20px;
}

.loginFormItem {
  margin: 10px;
}

.loginFormItem:last-of-type {
  display: flex;
  justify-content: center;
}


