.footer {
  background: #213A21;
  margin-top: auto;
}

.container {
  margin: 0;
  padding: 0;
}

.footerInner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.tech {
  font-family: Caveat, sans-serif;
  color: white;
  font-size: 18px;
}