.elementItem {
  background: #213A21;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 200px;
  height: 25px;
  margin: 20px;
}

.elementItem:last-of-type {
  background: #F3C896;
  color: #000000;
  text-decoration: line-through;
  border: 2px solid #213A21;
}

.elementPlaceholder {
  margin-left: 10px;
}

.checkIcon {
  transform: translateX(120%);
}